<section class="about-section">
  <div class="container">
    <div class="about-section__top">
      <img class="about-section__img" src="img/about-section.jpg" alt="about" />

      <div class="about-section__right">
        <h2 class="about-section__title section-title">О Нас</h2>

        <div class="about-section__text">
          <p>
            Завод Нержавеющие Технологии – это современное предприятие в
            сегменте изготовления высококачественных труб из нержавеющих сталей
            и сплавов.
          </p>
          <p>
            Производство оснащено новейшим оборудованием, аттестованное по
            стандарту НАКС. Основу коллектива завода составляют
            высококвалифицированные специалисты с многолетним опытом поставок в
            секторе нефтегазовой, химической, целлюлозно-бумажной, пищевой и
            атомной промышленности. Взаимодействие с проектными институтами,
            инжиниринговыми и строительными компаниями для реализации совместных
            проектов
          </p>
        </div>
      </div>
    </div>

    <div class="about-section__bottom">
      <div class="about-list">
        <ul class="about-list__list">
          <li class="about-list__item">
            <span class="about-list__number">10 лет</span>
            <p class="about-list__text">На рынке держим качество</p>
          </li>
          <li class="about-list__item">
            <span class="about-list__number">137</span>
            <p class="about-list__text desktop">Высококвалифицированных сотрудников</p>
            <p class="about-list__text mobile">
              Высоко-квалифицированных сотрудников
            </p>
          </li>
          <li class="about-list__item">
            <span class="about-list__number">200</span>
            <p class="about-list__text">
              Деловых партнеров, довольных качеством и обслугой
            </p>
          </li>
          <li class="about-list__item">
            <span class="about-list__number">258</span>
            <p class="about-list__text">Завершенных проектов с нашим товаром</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
