<section class="about-page">
  <div class="section-top" style="background-image: url('img/about-bg.jpg')">
    <div class="container">
      <div class="section-top__inner">
        <a class="section-top__back" href="#"><span>Назад</span></a>
        <h1 class="section-top__title section-title">О компании</h1>
      </div>
    </div>
  </div>

  <div class="about-page__wrapper">
    <div class="container">
      <div class="about-page__text">
        <p>
          Завод Нержавеющие Технологии – это современное предприятие в сегменте
          изготовления высококачественных труб из нержавеющих сталей и сплавов.
          Производство оснащено новейшим оборудованием, аттестованное по
          стандарту НАКС.
        </p>
        <p>
          Основу коллектива завода составляют высококвалифицированные
          специалисты с многолетним опытом поставок в секторе нефтегазовой,
          химической, целлюлозно-бумажной, пищевой и атомной промышленности.
          Взаимодействие с проектными институтами, инжиниринговыми и
          строительными компаниями для реализации совместных проектов.
        </p>
      </div>
      <div class="about-page__inner">
        <img class="about-page__img" src="img/about-img.jpg" alt="about" />

        <div class="about-page__right">
          <p>
            С другой стороны реализация намеченных плановых заданий играет
            важную роль в формировании модели развития. Идейные соображения
            высшего порядка, а также начало повседневной работы по формированию
            позиции влечет за собой процесс внедрения и модернизации
            существенных финансовых и административных условий. Разнообразный и
            богатый опыт начало повседневной работы по формированию позиции
            влечет за собой процесс внедрения и модернизации позиций, занимаемых
            участниками в отношении поставленных задач.
          </p>
          <p>
            Разнообразный и богатый опыт начало повседневной работы по
            формированию позиции в значительной степени обуславливает создание
            новых предложений. Таким образом консультация с широким активом
            влечет за собой процесс внедрения и модернизации систем массового
            участия.
          </p>
        </div>
      </div>

      <div class="about-list">
        <ul class="about-list__list">
          <li class="about-list__item">
            <span class="about-list__number">10 лет</span>
            <p class="about-list__text">На рынке держим качество</p>
          </li>
          <li class="about-list__item">
            <span class="about-list__number">137</span>
            <p class="about-list__text desktop">
              Высококвалифицированных сотрудников
            </p>
            <p class="about-list__text mobile">
              Высоко-квалифицированных сотрудников
            </p>
          </li>
          <li class="about-list__item">
            <span class="about-list__number">200</span>
            <p class="about-list__text">
              Деловых партнеров, довольных качеством и обслугой
            </p>
          </li>
          <li class="about-list__item">
            <span class="about-list__number">258</span>
            <p class="about-list__text">Завершенных проектов с нашим товаром</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
