<section class="adv">
  <div class="container">
    <h2 class="adv__title section-title">Наши заказчики получают</h2>

    <ul class="adv__list">
      <li class="adv__item">
        <img src="img/advantages/1.svg" alt="adv" />
        <p>Конкурентные цены</p>
      </li>
      <li class="adv__item">
        <img src="img/advantages/2.svg" alt="adv" />
        <p>Решение нестандартных задач</p>
      </li>
      <li class="adv__item">
        <img src="img/advantages/3.svg" alt="adv" />
        <p>
          Короткие сроки <br />
          поставок
        </p>
      </li>
      <li class="adv__item">
        <img src="img/advantages/4.svg" alt="adv" />
        <p>Весь спектр лабораторных испытаний</p>
      </li>
      <li class="adv__item">
        <img src="img/advantages/5.svg" alt="adv" />
        <p>Качество производимой продукции по всем нормам и стандартам</p>
      </li>
      <li class="adv__item">
        <img src="img/advantages/6.svg" alt="adv" />
        <p>Индивидуальный подход к каждому заказчику</p>
      </li>
      <li class="adv__item">
        <img src="img/advantages/7.svg" alt="adv" />
        <p>Доставку продукции по всем регионам РФ и ближайшего зарубежья</p>
      </li>
    </ul>
  </div>
</section>
