<section class="contacts">
  <div class="contacts__wrapper">
    <div class="contacts__map map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad4ce32a04ed6cca170a3799d8a43dd45047b08dc8cdd3e77b4c13e8d525dee8f&amp;source=constructor"
        width="1000"
        height="720"
      ></iframe>
    </div>

    <div class="contacts-box">
      <div class="contacts-box__top">
        <h2 class="contacts-box__title section-title">Контакты</h2>

        <ul class="contacts-box__list">
          <li class="contacts-box__item">
            <a class="contacts-box__link contacts-box__link--address" href="#">
              Московская область, г. Котельники, Дзержинское шоссе, дом 4
            </a>
          </li>
          <li class="contacts-box__item">
            <a class="contacts-box__link contacts-box__link--at" href="#">
              info@nerzhtech.ru
            </a>
          </li>
          <li class="contacts-box__item">
            <a class="contacts-box__link contacts-box__link--phone" href="#">
              +7(495)741- 75-89
            </a>
          </li>
        </ul>
      </div>
      <div class="contacts-requisites">
        <span>ОГРН: 1127746480410</span>
        <span>ИНН: 7702792127</span>
        <span>КПП: 770201001</span>
      </div>
      <button class="btn-path" type="button">
        <span>Проложить маршрут к офису</span>
      </button>
    </div>
  </div>
</section>
