<section class="connect" style="background-image: url('img/connect-bg.jpg')">
  <div class="container">
    <div class="connect__wrapper">
      <div class="connect__offer">
        <h2 class="connect__title section-title">
          для того чтобы рассчитать стоимость заказа
        </h2>
        <p class="connect__text">
          Укажите свой номер телефона и мы вам перезвоним в течении 10 мин
        </p>

        <form class="form-connect">
          <input
            class="form-connect__input"
            type="text"
            placeholder="Ваш номер телефона"
          />
          <button class="form-connect__btn btn btn--dark" type="submit">
            Отправить
          </button>
        </form>
      </div>

      <div
        class="connect__preview"
        style="background-image: url('img/connect-people.png')"
      ></div>
    </div>
  </div>
</section>
