<section class="contacts-page">
  <div class="section-top" style="background-image: url('img/contacts-bg.jpg')">
    <div class="container">
      <div class="section-top__inner">
        <a class="section-top__back" href="#"><span>Назад</span></a>
        <h1 class="section-top__title section-title">Контакты</h1>
      </div>
    </div>
  </div>

  <div class="contacts-page__wrapper">
    <div class="container">
      <div class="contacts-page__text">
        <p>
          Основу коллектива завода составляют высококвалифицированные
          специалисты с многолетним опытом поставок в секторе нефтегазовой,
          химической, целлюлозно-бумажной, пищевой и атомной промышленности.
          Взаимодействие с проектными институтами, инжиниринговыми и
          строительными компаниями для реализации совместных проектов.
        </p>
      </div>
      <div class="contacts-page__inner">
        <div class="contacts-page__left">
          <ul class="contacts-page__list contacts-list">
            <li class="contacts-list__item">
              <address
                class="contacts-list__link contacts-list__link--address"
                href="#"
              >
                Московская область, г. Котельники, Дзержинское шоссе, дом 4
              </address>
            </li>
            <li class="contacts-list__item">
              <a
                class="contacts-list__link contacts-list__link--at"
                href="mailto:info@nerzhtech.ru"
              >
                info@nerzhtech.ru
              </a>
            </li>
            <li class="contacts-list__item">
              <a
                class="contacts-list__link contacts-list__link--phone accent"
                href="tel:+74957417589"
              >
                +7(495)741- 75-89
              </a>
            </li>
          </ul>

          <button class="btn-path" type="button">
            <span>Проложить маршрут к офису</span>
          </button>
        </div>
        <div class="contacts-page__right">
          <div class="contacts-page__item">
            <p>ИНН: 7702792127</p>
            <p>КПП: 770201001</p>
          </div>

          <div class="contacts-page__item">
            <p>р/с: 40702810638000194246 ПАО«СБЕРБАНК»</p>
            <p>к/с: 30101810400000000225</p>
            <p>БИК: 044525225</p>
          </div>

          <div class="contacts-page__item">
            <p>р/с: 40702810287200001241 Московский филиал ПАО РОСБАНК</p>
            <p>к/с: 30101810000000000256</p>
            <p>БИК: 044525256</p>
          </div>

          <div class="contacts-page__item">
            <p>ОГРН: 1127746480410</p>
            <p>ОКПО: 09855246</p>
            <p>ОКТМО: 45379000</p>
            <p>ОКВЭД: 46.72</p>
          </div>
        </div>
      </div>

      <div class="contacts-page__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad4ce32a04ed6cca170a3799d8a43dd45047b08dc8cdd3e77b4c13e8d525dee8f&amp;source=constructor"
          width="1000"
          height="720"
        ></iframe>
      </div>
    </div>
  </div>
</section>
