<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#">О компании</a>

            <div class="dropmenu dropmenu--left">
              <!--  -->
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"> О нас</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">История компании</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">О нас в цифах</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Продукция</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Разрешительные документы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Технические условия</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer__right">
        <div class="footer-contacts">
          <div class="footer-contacts__row">
            <a
              class="footer-contacts__link footer-contacts__link--at"
              href="mailto:info@nerzhtech.ru"
              target="_blank"
            >
              info@nerzhtech.ru
            </a>
            <a
              class="footer-contacts__link footer-contacts__link--phone accent"
              href="#"
              target="_blank"
            >
              +7(495)741- 75-89
            </a>
          </div>
          <div class="footer-contacts__row">
            <a class="footer-contacts__link footer-contacts__link--schedule">
              с 8:00 до 17:00
            </a>
          </div>

          <div class="footer-contacts__row">
            <a class="footer-contacts__link footer-contacts__link--address">
              Московская область, г. Котельники, Дзержинское шоссе, дом 4
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__col">
        <a class="footer__logo logo" href="#">
          <img src="img/logo.png" alt="логотип" />
        </a>

        <p class="footer__copy">© 2012 - 2022 OOO “Нержавеющие технологии”</p>
      </div>

      <form class="footer__form form-subscribe">
        <span class="form-subscribe__text">
          Подпишись и следи за событиями компании
        </span>
        <div class="form-subscribe__inner">
          <input
            class="form-subscribe__input"
            type="text"
            placeholder="Введите свой email"
          />
          <button class="form-subscribe__btn btn" type="submit">
            Подписаться
          </button>
        </div>
      </form>

      <div class="footer__copy">
        <a href="#">Политика конфиденциальности</a>

        <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
          <span>Разработка сайта</span>
          <img src="img/logo-company.png" alt="АдвансМедиа" />
        </a>
      </div>
    </div>
  </div>
</footer>
