<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#ffffff"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <div class="mobile-menu-accordion accordion">
          <div class="accordion-top">
            <button class="mobile-menu__link accordion-control" type="button">
              О компании
            </button>
          </div>

          <div class="mobile-menu-accordion__content accordion-content">
            <ul class="mobile-menu-accordion__list">
              <li class="mobile-menu-accordion__item">
                <a class="mobile-menu__link" href="#">О нас</a>
              </li>
              <li class="mobile-menu-accordion__item">
                <a class="mobile-menu__link" href="#">История компании</a>
              </li>
              <li class="mobile-menu-accordion__item">
                <a class="mobile-menu__link" href="#">О нас в цифах</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Продукция</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"
          ><span>Разрешительные документы</span></a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"
          ><span>Технические условия</span></a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Контакты</span></a>
      </li>
    </ul>

    <div class="mobile-menu__bottom">
      <a class="btn-path" href=""> <span>Проложить маршрут к офису</span> </a>
    </div>
  </div>
  <!-- Mobile Menu -->

  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <address class="header__address">
          Московская область, г. Котельники, Дзержинское шоссе, дом 4
        </address>

        <ul class="header-tools">
          <li class="header-tools__item">
            <a class="header-tools__link header-tools__link--at" href="#">
              nfo@nerzhtech.ru
            </a>
          </li>
          <li class="header-tools__item">
            <a
              class="header-tools__link header-tools__link--phone accent"
              href="#"
            >
              +7(495)741- 75-89
            </a>
          </li>
          <li class="header-tools__item">
            <a class="header-tools__link header-tools__link--schedule">
              с 8:00 до 17:00
            </a>
          </li>
        </ul>

        <select class="select header__select">
          <option>Ru</option>
          <option value="1">US</option>
          <option value="2">GB</option>
        </select>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <nav class="header__inner">
        <a class="header__logo logo" href="#">
          <img src="img/logo.png" alt="логотип" />
        </a>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link menu__link--dropdown" href="#">О компании</a>

              <div class="dropmenu dropmenu--left">
                <!--  -->
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#"> О нас</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">История компании</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">О нас в цифах</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Продукция</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Разрешительные документы</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Технические условия</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>

        <button class="header__btn btn btn-order" type="button">
          Заказать продукцию
        </button>

        <button class="header__toggle" type="button" aria-label="Открыть меню">
          <span class="header__toggle-line"></span>
        </button>
      </nav>
    </div>
  </div>
</header>
