<section class="hero">
  <div class="hero__slider swiper">
    <ul class="hero__slides swiper-wrapper">
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('img/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <div class="hero__top">
              <h2 class="hero__title">
                <span class="hero__title-accent">
                  Нержавеющие решения <br />
                  от нержавеющих <br />
                  технологии
                </span>

                <span class="hero__title-small">
                  с полным комплексом <br />
                  испытаний и дополнительных требований заказчиков
                </span>
              </h2>

              <button class="hero__btn btn btn-order" type="button">
                Заказать продукцию
              </button>
            </div>
            <div class="hero__bottom">
              Это позволяет применять нашу продукцию
              <span>
                для особо ответственных и технически сложных объектов:
              </span>
            </div>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('img/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <div class="hero__top">
              <h2 class="hero__title">
                <span class="hero__title-accent">
                  Нержавеющие решения <br />
                  от нержавеющих <br />
                  технологии
                </span>

                <span class="hero__title-small">
                  с полным комплексом <br />
                  испытаний и дополнительных требований заказчиков
                </span>
              </h2>

              <button class="hero__btn btn btn-order" type="button">
                Заказать продукцию
              </button>
            </div>
            <div class="hero__bottom">
              Это позволяет применять нашу продукцию
              <span>
                для особо ответственных и технически сложных объектов:
              </span>
            </div>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('img/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <div class="hero__top">
              <h2 class="hero__title">
                <span class="hero__title-accent">
                  Нержавеющие решения <br />
                  от нержавеющих <br />
                  технологии
                </span>

                <span class="hero__title-small">
                  с полным комплексом <br />
                  испытаний и дополнительных требований заказчиков
                </span>
              </h2>

              <button class="hero__btn btn btn-order" type="button">
                Заказать продукцию
              </button>
            </div>
            <div class="hero__bottom">
              Это позволяет применять нашу продукцию
              <span>
                для особо ответственных и технически сложных объектов:
              </span>
            </div>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('img/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <div class="hero__top">
              <h2 class="hero__title">
                <span class="hero__title-accent">
                  Нержавеющие решения <br />
                  от нержавеющих <br />
                  технологии
                </span>

                <span class="hero__title-small">
                  с полным комплексом <br />
                  испытаний и дополнительных требований заказчиков
                </span>
              </h2>

              <button class="hero__btn btn btn-order" type="button">
                Заказать продукцию
              </button>
            </div>
            <div class="hero__bottom">
              Это позволяет применять нашу продукцию
              <span>
                для особо ответственных и технически сложных объектов:
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="swiper-pagination"></div>
  </div>
</section>
