<section class="industries">
  <h2 class="industries__title visually-hidden">Отрасли</h2>

  <div class="industries__slider swiper">
    <ul class="industries__list swiper-wrapper">
      <li
        class="industries-item swiper-slide"
        style="background-image: url('img/industries/1.jpg')"
      >
        <div class="industries-item__inner">
          <h3 class="industries-item__title">нефтепереработки</h3>
          <a class="industries-item__btn" href="#">Подробнее</a>
        </div>

        <a class="industries-item__link" href="#"></a>
      </li>
      <li
        class="industries-item swiper-slide"
        style="background-image: url('img/industries/2.jpg')"
      >
        <div class="industries-item__inner">
          <h3 class="industries-item__title">нефтехимической промышленности</h3>
          <a class="industries-item__btn" href="#">Подробнее</a>
        </div>

        <a class="industries-item__link" href="#"></a>
      </li>
      <li
        class="industries-item swiper-slide"
        style="background-image: url('img/industries/3.jpg')"
      >
        <div class="industries-item__inner">
          <h3 class="industries-item__title">
            целлюлозно- бумажной промышленности
          </h3>
          <a class="industries-item__btn" href="#">Подробнее</a>
        </div>

        <a class="industries-item__link" href="#"></a>
      </li>
      <li
        class="industries-item swiper-slide"
        style="background-image: url('img/industries/4.jpg')"
      >
        <div class="industries-item__inner">
          <h3 class="industries-item__title">криогенной промышленности</h3>
          <a class="industries-item__btn" href="#">Подробнее</a>
        </div>

        <a class="industries-item__link" href="#"></a>
      </li>
      <li
        class="industries-item swiper-slide"
        style="background-image: url('img/industries/5.jpg')"
      >
        <div class="industries-item__inner">
          <h3 class="industries-item__title">атомной промышленности</h3>
          <a class="industries-item__btn" href="#">Подробнее</a>
        </div>
        <a class="industries-item__link" href="#"></a>
      </li>
    </ul>
  </div>
</section>
