<section class="news">
  <div class="container">
    <div class="news__top">
      <h2 class="news__title section-title">Новости</h2>
      <a class="news__link" href="#">Все новости</a>
    </div>

    <div class="news__inner">
      <ul class="news__list">
        <li class="news-item" style="background-image: url('img/news.jpg')">
          <div class="news-item__content">
            <span class="news-item__date">29 сентября 2022 г</span>
            <h3 class="news-item__title">
              <a href="#">
                Начало проката труб из нержавеющей стали марки 316LN
              </a>
            </h3>
            <a class="news-item__link" href="#">Перейти к новости</a>
          </div>
        </li>
        <li class="news-item">
          <span class="news-item__date">29 сентября 2022 г</span>
          <h3 class="news-item__title">
            <a href="#">
              Начало проката труб из нержавеющей стали марки 316LN
            </a>
          </h3>
        </li>
        <li class="news-item">
          <span class="news-item__date">22 сентября 2022 г</span>
          <h3 class="news-item__title">
            <a href="#">
              Крупный заказ для компании LUKOIL с покраской и нанесением
              логотипа
            </a>
          </h3>
        </li>
        <li class="news-item">
          <span class="news-item__date">1 сентября 2022 г</span>
          <h3 class="news-item__title">
            <a href="#">
              Компания поздравляет всех с началом осени и днем знаний
            </a>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
