<section class="product">
  <div class="section-top" style="background-image: url('img/product-bg.jpg')">
    <div class="container">
      <div class="section-top__inner">
        <a class="section-top__back" href="#"><span>Назад</span></a>
        <h1 class="section-top__title section-title">
          Труба 377х4-10мм ТУ 24.20.21 -001- 09855246
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__nav-wrap swiper" id="slider-nav">
              <ul class="swiper-wrapper">
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/2.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="img/product/3.jpg" alt="Слайд №1" />
                </li>
              </ul>
            </div>

            <!-- <div class="slider-thumbs__nav-control">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
            </div> -->
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/1.jpg"
                >
                  <img src="img/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/2.jpg"
                >
                  <img src="img/product/2.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="img/product/3.jpg"
                >
                  <img src="img/product/3.jpg" alt="Слайд №1" />
                </a>
              </li>
            </ul>

            <!-- <button
              class="swiper-button-prev"
              type="button"
              aria-label="Предыдущий"
            ></button>
            <button
              class="swiper-button-next"
              type="button"
              aria-label="Следующий"
            ></button> -->
          </div>
        </div>
      </div>
      <div class="product-info">
        <div class="product-info__box">
          <span class="product-info__heading">Технические характеристики</span>
          <div class="product-info__row">
            <div>Диаметр</div>
            <div>377 мм</div>
          </div>
          <div class="product-info__row">
            <div>Толшина стенок</div>
            <div>4-10 мм</div>
          </div>
        </div>
        <div class="product-info__box">
          <span class="product-info__heading">Марки стали</span>

          <div class="product-info__grades">
            ОЗХ18Н11, 04Х18Н10, 08Х18Н10, 08Х18Н10Т, 08Х18Н12Т, 08Х18Н12Б,
            12Х18Н9, 12Х18Н9Т, 12XI8H10T, 12Х18Н12Т, 03X17H14M3, 08Х17Н13М2Т,
            08Х17Н15МЗТ, 10Х17Н13М2Т, 20Х23Н13, 10Х23Н18, 20Х23Н18, 03X22H5AM3,
            03Х22Н6М2. 08Х22Н6Т, 08X21Н6М2Т, 05ХН32Т (ХН32Т), 06ХН28МДТ, AISI
            304, 316, 316N, 316L, 316Ti, 321, 904L
          </div>
        </div>

        <button class="product-info__btn btn">Выбрать</button>
      </div>
    </div>
  </div>
</section>
