<section class="production">
  <div
    class="section-top"
    style="background-image: url('img/production-bg.jpg')"
  >
    <div class="container">
      <div class="section-top__inner">
        <a class="section-top__back" href="#"><span>Назад</span></a>
        <h1 class="section-top__title section-title">Продукция</h1>
      </div>
    </div>
  </div>

  <div class="production__wrapper">
    <div class="container">
      <div class="production__top">
        <form class="production__form form-search">
          <input
            class="form-search__input"
            type="text"
            placeholder="Поиск по наименованию товара или артикулу"
          />
          <button class="form-search__btn btn" type="submit">Искать</button>
        </form>

        <div class="production-views">
          <button
            class="production-views__btn btn-grid active"
            type="button"
            aria-label="Сетка"
          >
            <svg>
              <use xlink:href="img/sprite.svg#grid"></use>
            </svg>
          </button>
          <button
            class="production-views__btn btn-list"
            type="button"
            aria-label="Список"
          >
            <svg>
              <use xlink:href="img/sprite.svg#list"></use>
            </svg>
          </button>
        </div>
      </div>

      <ul class="production__list">
        <li class="production__item">
          <article class="production-card">
            <h3 class="production-card__title">
              Труба 377х4-10мм ТУ 24.20.21 -001- 09855246
            </h3>

            <div class="production-card__img">
              <img src="img/products/1.png" alt="Труба" />
            </div>

            <button class="production-card__show" type="button">
              <span>Марки стали</span>
            </button>

            <a class="production-card__btn btn" href="#">Выбрать</a>

            <div class="production-card__overlay">
              <div class="production-card__grades">
                <p>
                  ОЗХ18Н11, 04Х18Н10, 08Х18Н10, 08Х18Н10Т, 08Х18Н12Т, 08Х18Н12Б,
                  12Х18Н9, 12Х18Н9Т, 12XI8H10T, 12Х18Н12Т, 03X17H14M3,
                  08Х17Н13М2Т, 08Х17Н15МЗТ, 10Х17Н13М2Т, 20Х23Н13, 10Х23Н18,
                  20Х23Н18, 03X22H5AM3, 03Х22Н6М2. 08Х22Н6Т, 08X21Н6М2Т, 05ХН32Т
                  (ХН32Т), 06ХН28МДТ, AISI 304, 316, 316N, 316L, 316Ti, 321,
                  904L
                </p>
              </div>
              <button class="production-card__show" type="button">
                <span>Скрыть</span>
              </button>

              <a class="production-card__btn btn" href="#">Выбрать</a>
            </div>
          </article>
        </li>
        <li class="production__item">
          <article class="production-card">
            <h3 class="production-card__title">
              Труба 377х4-10мм ТУ 24.20.21 -001- 09855246
            </h3>

            <div class="production-card__img">
              <img src="img/products/1.png" alt="Труба" />
            </div>

            <button class="production-card__show" type="button">
              <span>Марки стали</span>
            </button>

            <a class="production-card__btn btn" href="#">Выбрать</a>

            <div class="production-card__overlay">
              <div class="production-card__grades">
                <p>
                  ОЗХ18Н11, 04Х18Н10, 08Х18Н10, 08Х18Н10Т, 08Х18Н12Т, 08Х18Н12Б,
                  12Х18Н9, 12Х18Н9Т, 12XI8H10T, 12Х18Н12Т, 03X17H14M3,
                  08Х17Н13М2Т, 08Х17Н15МЗТ, 10Х17Н13М2Т, 20Х23Н13, 10Х23Н18,
                  20Х23Н18, 03X22H5AM3, 03Х22Н6М2. 08Х22Н6Т, 08X21Н6М2Т, 05ХН32Т
                  (ХН32Т), 06ХН28МДТ, AISI 304, 316, 316N, 316L, 316Ti, 321,
                  904L
                </p>
              </div>
              <button class="production-card__show" type="button">
                <span>Скрыть</span>
              </button>

              <a class="production-card__btn btn" href="#">Выбрать</a>
            </div>
          </article>
        </li>
        <li class="production__item">
          <article class="production-card">
            <h3 class="production-card__title">
              Труба 377х4-10мм ТУ 24.20.21 -001- 09855246
            </h3>

            <div class="production-card__img">
              <img src="img/products/1.png" alt="Труба" />
            </div>

            <button class="production-card__show" type="button">
              <span>Марки стали</span>
            </button>

            <a class="production-card__btn btn" href="#">Выбрать</a>

            <div class="production-card__overlay">
              <div class="production-card__grades">
                <p>
                  ОЗХ18Н11, 04Х18Н10, 08Х18Н10, 08Х18Н10Т, 08Х18Н12Т, 08Х18Н12Б,
                  12Х18Н9, 12Х18Н9Т, 12XI8H10T, 12Х18Н12Т, 03X17H14M3,
                  08Х17Н13М2Т, 08Х17Н15МЗТ, 10Х17Н13М2Т, 20Х23Н13, 10Х23Н18,
                  20Х23Н18, 03X22H5AM3, 03Х22Н6М2. 08Х22Н6Т, 08X21Н6М2Т, 05ХН32Т
                  (ХН32Т), 06ХН28МДТ, AISI 304, 316, 316N, 316L, 316Ti, 321,
                  904L
                </p>
              </div>
              <button class="production-card__show" type="button">
                <span>Скрыть</span>
              </button>

              <a class="production-card__btn btn" href="#">Выбрать</a>
            </div>
          </article>
        </li>
        <li class="production__item">
          <article class="production-card">
            <h3 class="production-card__title">
              Труба 377х4-10мм ТУ 24.20.21 -001- 09855246
            </h3>

            <div class="production-card__img">
              <img src="img/products/1.png" alt="Труба" />
            </div>

            <button class="production-card__show" type="button">
              <span>Марки стали</span>
            </button>

            <a class="production-card__btn btn" href="#">Выбрать</a>

            <div class="production-card__overlay">
              <div class="production-card__grades">
                <p>
                  ОЗХ18Н11, 04Х18Н10, 08Х18Н10, 08Х18Н10Т, 08Х18Н12Т, 08Х18Н12Б,
                  12Х18Н9, 12Х18Н9Т, 12XI8H10T, 12Х18Н12Т, 03X17H14M3,
                  08Х17Н13М2Т, 08Х17Н15МЗТ, 10Х17Н13М2Т, 20Х23Н13, 10Х23Н18,
                  20Х23Н18, 03X22H5AM3, 03Х22Н6М2. 08Х22Н6Т, 08X21Н6М2Т, 05ХН32Т
                  (ХН32Т), 06ХН28МДТ, AISI 304, 316, 316N, 316L, 316Ti, 321,
                  904L
                </p>
              </div>
              <button class="production-card__show" type="button">
                <span>Скрыть</span>
              </button>

              <a class="production-card__btn btn" href="#">Выбрать</a>
            </div>
          </article>
        </li>
        <li class="production__item">
          <article class="production-card">
            <h3 class="production-card__title">
              Труба 377х4-10мм ТУ 24.20.21 -001- 09855246
            </h3>

            <div class="production-card__img">
              <img src="img/products/1.png" alt="Труба" />
            </div>

            <button class="production-card__show" type="button">
              <span>Марки стали</span>
            </button>

            <a class="production-card__btn btn" href="#">Выбрать</a>

            <div class="production-card__overlay">
              <div class="production-card__grades">
                <p>
                  ОЗХ18Н11, 04Х18Н10, 08Х18Н10, 08Х18Н10Т, 08Х18Н12Т, 08Х18Н12Б,
                  12Х18Н9, 12Х18Н9Т, 12XI8H10T, 12Х18Н12Т, 03X17H14M3,
                  08Х17Н13М2Т, 08Х17Н15МЗТ, 10Х17Н13М2Т, 20Х23Н13, 10Х23Н18,
                  20Х23Н18, 03X22H5AM3, 03Х22Н6М2. 08Х22Н6Т, 08X21Н6М2Т, 05ХН32Т
                  (ХН32Т), 06ХН28МДТ, AISI 304, 316, 316N, 316L, 316Ti, 321,
                  904L
                </p>
              </div>
              <button class="production-card__show" type="button">
                <span>Скрыть</span>
              </button>

              <a class="production-card__btn btn" href="#">Выбрать</a>
            </div>
          </article>
        </li>
        <li class="production__item">
          <article class="production-card">
            <h3 class="production-card__title">
              Труба 377х4-10мм ТУ 24.20.21 -001- 09855246
            </h3>

            <div class="production-card__img">
              <img src="img/products/1.png" alt="Труба" />
            </div>

            <button class="production-card__show" type="button">
              <span>Марки стали</span>
            </button>

            <a class="production-card__btn btn" href="#">Выбрать</a>

            <div class="production-card__overlay">
              <div class="production-card__grades">
                <p>
                  ОЗХ18Н11, 04Х18Н10, 08Х18Н10, 08Х18Н10Т, 08Х18Н12Т, 08Х18Н12Б,
                  12Х18Н9, 12Х18Н9Т, 12XI8H10T, 12Х18Н12Т, 03X17H14M3,
                  08Х17Н13М2Т, 08Х17Н15МЗТ, 10Х17Н13М2Т, 20Х23Н13, 10Х23Н18,
                  20Х23Н18, 03X22H5AM3, 03Х22Н6М2. 08Х22Н6Т, 08X21Н6М2Т, 05ХН32Т
                  (ХН32Т), 06ХН28МДТ, AISI 304, 316, 316N, 316L, 316Ti, 321,
                  904L
                </p>
              </div>
              <button class="production-card__show" type="button">
                <span>Скрыть</span>
              </button>

              <a class="production-card__btn btn" href="#">Выбрать</a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
