<section class="videos">
  <div class="container-1600">
    <h2 class="videos__title section-title">Видео с производства</h2>

    <div class="videos__content">
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>

      <div class="videos__slider swiper">
        <ul class="videos__slides swiper-wrapper">
          <li class="videos__slide swiper-slide">
            <div class="video-card">
              <div class="video-card__top">
                <img src="img/videos/1.jpg" alt="video" />

                <button
                  class="video-card__play"
                  type="button"
                  aria-label="Запустить"
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
                ></button>
              </div>
              <span class="video-card__name">Наименование темы для видео</span>
            </div>
          </li>
          <li class="videos__slide swiper-slide">
            <div class="video-card">
              <div class="video-card__top">
                <img src="img/videos/1.jpg" alt="video" />

                <button
                  class="video-card__play"
                  type="button"
                  aria-label="Запустить"
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
                ></button>
              </div>
              <span class="video-card__name">Наименование темы для видео</span>
            </div>
          </li>
          <li class="videos__slide swiper-slide">
            <div class="video-card">
              <div class="video-card__top">
                <img src="img/videos/1.jpg" alt="video" />

                <button
                  class="video-card__play"
                  type="button"
                  aria-label="Запустить"
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
                ></button>
              </div>
              <span class="video-card__name">Наименование темы для видео</span>
            </div>
          </li>
          <li class="videos__slide swiper-slide">
            <div class="video-card">
              <div class="video-card__top">
                <img src="img/videos/1.jpg" alt="video" />

                <button
                  class="video-card__play"
                  type="button"
                  aria-label="Запустить"
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
                ></button>
              </div>
              <span class="video-card__name">Наименование темы для видео</span>
            </div>
          </li>
          <li class="videos__slide swiper-slide">
            <div class="video-card">
              <div class="video-card__top">
                <img src="img/videos/1.jpg" alt="video" />

                <button
                  class="video-card__play"
                  type="button"
                  aria-label="Запустить"
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
                ></button>
              </div>
              <span class="video-card__name">Наименование темы для видео</span>
            </div>
          </li>
          <li class="videos__slide swiper-slide">
            <div class="video-card">
              <div class="video-card__top">
                <img src="img/videos/1.jpg" alt="video" />

                <button
                  class="video-card__play"
                  type="button"
                  aria-label="Запустить"
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
                ></button>
              </div>
              <span class="video-card__name">Наименование темы для видео</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="videos-mobile">
      <ul class="videos-mobile__list">
        <li class="videos-mobile__item">
          <div class="video-card">
            <div class="video-card__top">
              <img src="img/videos/1.jpg" alt="video" />

              <button
                class="video-card__play"
                type="button"
                aria-label="Запустить"
                data-fancybox
                data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
              ></button>
            </div>
            <span class="video-card__name">Наименование темы для видео</span>
          </div>
        </li>
        <li class="videos-mobile__item">
          <div class="video-card">
            <div class="video-card__top">
              <img src="img/videos/1.jpg" alt="video" />

              <button
                class="video-card__play"
                type="button"
                aria-label="Запустить"
                data-fancybox
                data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
              ></button>
            </div>
            <span class="video-card__name">Наименование темы для видео</span>
          </div>
        </li>
        <li class="videos-mobile__item">
          <div class="video-card">
            <div class="video-card__top">
              <img src="img/videos/1.jpg" alt="video" />

              <button
                class="video-card__play"
                type="button"
                aria-label="Запустить"
                data-fancybox
                data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
              ></button>
            </div>
            <span class="video-card__name">Наименование темы для видео</span>
          </div>
        </li>
        <li class="videos-mobile__item">
          <div class="video-card">
            <div class="video-card__top">
              <img src="img/videos/1.jpg" alt="video" />

              <button
                class="video-card__play"
                type="button"
                aria-label="Запустить"
                data-fancybox
                data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=98s"
              ></button>
            </div>
            <span class="video-card__name">Наименование темы для видео</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
